@import "/src/styles/colorSystem";

.wrap {
  width: 100%;

  .comment {
    width: 100%;
    border-radius: 8px;
    padding: 24px;
    background: $white;
  }

  .reply {
    margin-top: 12px;

    .divider {
      margin: 0 43px;
      width: 2px;
      height: 100%;
      background: #e9ebf0;
    }

    .replyWrap {
      width: 100%;
    }
  }
}
