@import "/src/styles/colorSystem";

.commentContentWrap {
  .commentContent {
    width: calc(100% - 64px);

    .commentHeader {
      width: 100%;

      .userName {
        > p {
          color: $dark-gray;
          font-size: 16px;
          font-weight: 500;
        }

        .you {
          width: 36px;
          height: 19px;
          border-radius: 2px;
          background: $main;
          color: $white;
          font-size: 13px;
          font-weight: 500;
          text-align: center;
        }
      }

      .createdAt {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $gray;
      }

      .commentActions {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;

        &.visible {
          opacity: 1;
          visibility: visible;
        }

        button {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 6px 8px;
          background: none;
          border: none;
          transition: all 0.3s ease-in-out;

          &:hover {
            &.delete {
              span {
                color: $red-hover;
              }
            }

            &.edit {
              span {
                color: $main-hover;
              }
            }

            &.reply {
              span {
                color: $main-hover;
              }
            }
          }



          &.delete {
            span {
              color: $red;
            }
          }

          &.reply {
            span {
              color: $main;
            }
          }

          > span {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: $main;
          }
        }
      }
    }

    .commentBody {
      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: $gray;

        &.replyingTo {
          font-weight: 500;
          color: $main;
        }
      }
    }
  }
}
